/* base 16 - base grey colors */
:root
{
  --base00: #f5f5f5;
  --base01: #e0e0e0;
  --base02: #d0d0d0;
  --base03: #b0b0b0;
  --base04: #505050;
  --base05: #303030;
  --base06: #202020;
  --base07: #151515;
  --base08: #ac4142;
  --base09: #d28445;
  --base0a: #f4bf75;
  --base0b: #90a959
  --base0c: #75b5aa;
  --base0d: #6a9fb5;
  --base0e: #aa759f;
  --base0f: #8f5536;

  --default-background:   var(--base00);
  --lighter-background:   var(--base01);
  --selection-background: var(--base02);
  --invisibles:           var(--base03);

  --dark-foreground:      var(--base04);
  --default-foreground:   var(--base05);
  --light-foreground:     var(--base06);
  --light-background:     var(--base07);
}

.base00 { color: var(--base00); }
.base01 { color: var(--base01); }
.base02 { color: var(--base02); }
.base03 { color: var(--base03); }
.base04 { color: var(--base04); }
.base05 { color: var(--base05); }
.base06 { color: var(--base06); }
.base07 { color: var(--base07); }
.base08 { color: var(--base08); }
.base09 { color: var(--base09); }
.base0a { color: var(--base0a); }
.base0b { color: var(--base0b); }
.base0c { color: var(--base0c); }
.base0d { color: var(--base0d); }
.base0e { color: var(--base0e); }
.base0f { color: var(--base0f); }

