@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunrm.ttf');
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunbx.ttf');
	font-weight: bold;
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunti.ttf');
	font-style: italic;
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunbi.ttf');
	font-weight: bold;
	font-style: italic;
}


@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmuntt.ttf');
  font-style: fixed;
}

/* Type writer fixed  */
@font-face {
  font-family: "Computer Modern Monospace";
  src: url('/fonts/cmuntt.ttf');
}

@font-face {
  font-family: "Computer Modern Monospace";
  src: url('/fonts/cmuntb.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern Monospace";
  src: url('/fonts/cmunit.ttf');
  font-weight: italic;
}

@font-face {
  font-family: "Computer Modern Monospace";
  src: url('/fonts/cmuntx.ttf');
  font-style: italic;
  font-weight: bold;
}

