/***************************************************
 * General styles
 ***************************************************/

html {
  font-size: 18px; 
}

body {
  font-family: "Computer Modern Serif", serif;
  margin: 1.5em auto;
  max-width: 34em;
  line-height: 1.5em;
  background-color: var(--default-background);
  color: var(--default-foreground);
  padding-left: 1.5em;
  padding-right: 1.5em;
}  

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: .5em;
}

h3 {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: .5em;
}

h5 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: .5em;
}

h6 {
  font-size: 1em;
  font-style: italic;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: var(--light-background);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--base0d);
}

p {
  color: var(--default-foreground);
  margin-bottom: 1em;
  text-indent: 3em;
  text-align: justify;
  hyphens: auto;
}

blockquote {
  margin: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: .3em solid var(--invisibles);
	background-image: url(/images/openquote1.gif);
	background-position: top left;
	background-repeat: no-repeat;
  font-style: italic;
  text-indent: unset;
  display: grid;
}

blockquote p {
  text-align: justify;
  text-indent: unset;
}

blockquote span {
	display: block;
	background-image: url(/images/closequote1.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

div.author {
  margin-top: 0.2em;
  margin-right: 1em;
}

blockquote p.author {
  text-align: right;
  font-style: normal;
}

blockquote p.author::before {
  content: "- ";
}

ol, ul {
  margin-bottom: 1em;
  margin-left: 2em;
}

ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: .5em;
  padding-left: .5em;
  text-align: justify;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-bottom: .5em;
  padding-left: .5em;
  text-align: justify;
}

ol li p, ul li p {
  display: unset;
}

dl {
  margin: 0 auto;
}

dt {
  float: left;
  text-align: left;
  font-weight: bold;
  color: var(--dark-foreground);
  padding-right: .5em;
}

dd {
  padding-left: 2em;
  padding-bottom: 1em;
}

pre {
  font-family: "Computer Modern Monospace", monospace;
  border: 1px solid var(--lighter-background);
  margin: 1em;
  font-size: 0.75em;
}

code {
  font-family: "Computer Modern Monospace", monospace;
}

math, math[mode=display] {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  text-align: center;
}

table {
  text-align: center;
  margin: 1.33em;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  vertical-align: middle;
  caption-side: bottom;
  color: var(--dark-foreground);
  border-collapse: collapse;
}

thead tr {
    color: #555;
}

thead th {
    font-weight: bold;
    border-top: 6px double var(--dark-foreground);
    border-bottom: 2px solid var(--dark-foreground);
    padding: 0 1em;
}

tfoot tr {
    font-weight: bold;
    color: var(--dark-foreground);
}

tfoot td {
    border-bottom: 2px solid var(--dark-foreground);
    padding: 0 1em;
}

tbody th {
  border-bottom: 1px solid var(--invisibles);
  padding: 0 1em;
}

td {
  border-bottom: 1px solid var(--invisibles);
  padding: 0 1em;
}

tbody th {
  text-align: right;
}

caption {
  text-align: justify;
  line-height: 1.2em;
}

table tbody tr:nth-child(even)
{
  background-color: var(--default-background);
}

table tbody tr:nth-child(odd)
{
  background-color: var(--lighter-background);
}

table tbody tr:hover {
  color: var(--light-background);
}


/*************************************************** 
 * Navigation and footer
 ***************************************************/
nav {
  border-bottom: 2px solid var(--invisibles);
  margin-bottom: 1em;
}

nav ul, footer ul {
  padding: 0;
  list-style: none;
  margin-left: 0em;
  margin-bottom: 0em;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

footer a, nav a {
  text-decoration: none;
  color: var(--light-background);
}

footer a:hover, nav a:hover {
  text-decoration: underline;
}

footer a:visited, nav a:visited {
  color: var(--light-background);
}

footer {
  border-top: 1px solid var(--dark-foreground);
  font-size: .8em;
}

/***************************************************
 * main layout style 
 ***************************************************/
header {
  margin-bottom: .5em;
}

header h1 {
  margin-bottom: 0em;
}

header p {
  font-size: 1em;
  color: var(--dark-foreground);
}


td.num {
  text-align: right;
}

td.txt {
  text-align: left;
}


/* Horizontal table are horizontally connected and wider */
table.horiz {
  border-collapse: collapse;
}

table.horiz th {
    padding: 0 1em;
}

table.horiz td {
    padding: 0 1em;
}

table.horiz tbody tr:nth-child(even)
{
  background-color: var(--default-background);
}

table.horiz tbody tr:nth-child(odd)
{
  background-color: var(--lighter-background);
}

table.horiz tbody tr:hover {
  color: var(--light-background);
}

/* Vertical table */
table.vert {
  border-collapse: separate;
  vertical-align: baseline;
  border-spacing: 1em 0;
}

table.vert tbody tr {
  background-color: var(--default-background);
}

table.vert thead th {
    padding: 0 .5em;
}

table.vert tbody th {
  padding: 0 .5em;
}

table.vert td {
  padding: 0 .5em;
}

table.vert tfoot {
  display: none;
}


figure.right {
	float: right;
	margin: .5em;
  width: 30%;
}

figure.right img {
  border: 1px solid var(--selection-background);
  border-radius: 45%;
  padding: 5px;
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}


p.about {
  margin: 0.7em 1.5em 1em;
}

div.bannerpicture {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  overflow: hidden;
  height: 20em;
}

blockquote.classic {
	font-family: "Computer Modern Serif", serif;
  margin: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: 3px solid var(--invisibles);
	background-image: url(/images/openquote1.gif);
	background-position: top left;
	background-repeat: no-repeat;
  font-style: italic;
  text-indent: unset;
  display: grid;
}

blockquote.classic p {
  text-align: justify;
  text-indent: unset;
}

blockquote.classic span {
	display: block;
	background-image: url(/images/closequote1.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

blockquote.classic p.author {
  text-align: right;
  font-style: normal;
}

blockquote.classic p.author::before {
  content: "- ";
}

pre.code code ol {
  list-style-position: outside;
  text-align: left;
  margin: 0;
  padding: 0;
}

pre.code code ol li {
  margin-bottom: 0;
  padding-left: 0;
}

/***************************************************
 * Posts and blog
 ***************************************************/

/* Post style */
/* div.post
 * div.post h1
 * div.post h*
 * div.post blockquote
 */ 

ul.posts { 
  margin: .5em auto 1em; 
  font-size: 1.5em;
  line-height: 2em;
}

ul.posts li {
  list-style: none;
}

p.meta {
  padding: .3em 0;
}

div.post  {
  margin: .3em 0;
}

div.post p img {
  margin: 0 auto;
  display: block;
}


/*
 * MEDIA
 */

@media screen and (orientation:portrait) {
  html {
    font-size: 27px; 
  }

  body {
    margin: .75em auto;
    max-width: none;
    padding-left: 1em;
    padding-right: 1em;
  }  
}

/*
@media screen and (min-resolution: 150dpi) {
  html {
    font-size: 22px; 
  }
}
*/


