* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunrm.ttf');
}
@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cmunbx.ttf');
	font-weight: bold;
}
@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/otf/cmunti.ttf');
	font-style: italic, oblique;
}
@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/otf/cmunbi.ttf');
	font-weight: bold;
	font-style: italic, oblique;
}

body {
	font-family: "Computer Modern", serif;
  margin: 60px auto;
  width: 70%;
  font-size:100%; 
  line-height:1.5;
}  

h1 {
  font-size: 3em;
	font-family: "Computer Modern", serif;
}

div.text {
  text-align: justify;
  text-justify: inter-word;
}

p {
  color: #333;
}


div.rightpicture {
	float: right;
	margin: 10px;
}

div.leftpicture {
	float: left;
	margin: 10px;
}

blockquote.classic {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
	background-image: url(images/openquote1.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 23px;
}

blockquote.classic span {
	display: block;
	background-image: url(images/closequote1.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}




nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

/*
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}


blockquote.style2 {
    font: 14px/22px normal helvetica, sans-serif;
            } 
*/
