body {
	font-family: "Computer Modern", serif;
  margin: 60px auto;
  width: 70%; 
  font-size:100%; 
  line-height:1.2em;
  background-color: var(--default-background);
  color: var(--default-foreground);
}  

header {
  margin-bottom: .5em;
}

header h1 {
  font-size: 3em;
  line-height: 1em;
}

header p {
  font-size: 1em;
  color: var(--dark-foreground);
}


figure.right {
	float: right;
	margin: 10px;
  width: 30%;
}

figure.right img {
  border: 1px solid var(--selection-background);
  border-radius: 45%;
  padding: 5px;
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}


div.text {
  text-align: justify;
  hyphens: auto;
}

p {
  color: var(--default-foreground);
}

p.paragraph {
  margin-bottom: 1em;
  text-indent: 30px;
}

p.about {
  margin: 20px 50px 30px;
}

div.author {
  margin-top: 0.2em;
  margin-right: 30px;
}

div.bannerpicture {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 300px;
}

a {
  text-decoration: none;
  color: var(--dark-foreground);
}

a:hover {
  text-decoration: underline;
}

blockquote.classic {
	font-family: "Computer Modern", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 25px;
  padding-right: 20px;
  border-left: 3px solid var(--invisibles);
	background-image: url(/images/openquote1.gif);
	background-position: top left;
	background-repeat: no-repeat;
  font-style: italic;
  text-indent: unset;
  display: grid;
}

blockquote.classic span {
	display: block;
	background-image: url(/images/closequote1.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

blockquote.classic p {
  text-indent: unset;
}

blockquote.classic p.author {
  text-align: right;
  font-style: normal;
}

blockquote.classic p.author::before {
  content: "- ";
}

nav {
  border-bottom: 2px solid var(--invisibles);
  margin-bottom: 1em;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

dt {
  float: left;
  clear: left;
  width: 7.5em;
  text-align: right;
  font-weight: bold;
  color: var(--dark-foreground);
}

dt::after {
  content: ": ";
}

dd {
  margin: 0 0 0 130px;
  padding: 0 0 0.5em 0;
}

footer {
  border-top: 1px solid var(--dark-foreground);
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
  line-height: 2em;
}

ul.posts li {
  list-style: none;
}

p.meta {
  padding: 10px 0px;
}

div.post  {
  margin: 10px 0px;
}

div.post p {
    margin-bottom: 1em;
    text-indent: 30px;
}

math, math[mode=display] {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  text-align: center;
}


table {
  text-align: center;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.0em;
  vertical-align: middle;
  caption-side: bottom;
  color: var(--dark-foreground)
}

thead tr {
    color: #555;
}

thead th {
    font-weight: bold;
    border-top: 6px double var(--dark-foreground);
    border-bottom: 2px solid var(--dark-foreground);
    padding: 0px 10px;
}

tfoot tr {
    font-weight: bold;
    color: #555;
}

tfoot td {
    border-bottom: 2px solid var(--dark-foreground);
    padding: 0px 10px;
}

tbody th {
  border-bottom: 1px solid var(--invisibles);
  padding: 0px 10px;
}

td {
  border-bottom: 1px solid var(--invisibles);
  padding: 0px 10px;
}

td.num {
  text-align: right;
}

td.txt {
  text-align: left;
}

tbody th {
  text-align: right;
}

caption {
  text-align: justify;
  line-height: 1.2em;
}


/* Horizontal table are horizontally connected and wider */
table.horiz {
  border-collapse: collapse;
}

table.horiz th {
    padding: 0px 30px;
}

table.horiz td {
    padding: 0px 30px;
}

table.horiz tbody tr:nth-child(even)
{
  background-color: var(--default-background);
}

table.horiz tbody tr:nth-child(odd)
{
  background-color: var(--lighter-background);
}

table.horiz tbody tr:hover {
  color: var(--light-background);
}


/* Vertical table */
table.vert {
  border-collapse: separate;
  vertical-align: baseline;
  border-spacing: 20px 0px;
}

table.vert tfoot {
  display: none;
}

