/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: var(--default-background) }
pre .nocode { background-color: transparent; color: var(--default-foreground) }
pre .com { color: var(--base04) } /* comment - skyblue */
pre .pun { color: var(--default-foreground) }    /* punctuation */
pre .pln { color: var(--default-foreground) }    /* plaintext */
pre .tag { color: var(--base08); font-weight: bold } /* html/xml tag    - lightyellow */
pre .dec { color: var(--base09); } /* decimal         - lightgreen */
pre .atn { color: var(--base0a); font-weight: bold } /* attribute name  - khaki */
pre .str { color: var(--base0b); } /* string  - pink */
pre .typ { color: vat(--base0c); } /* type    - lightgreen */
pre .atv { color: var(--base0d); } /* attribute value - pink */
pre .kwd { color: var(--base0e); font-weight: bold } /* keyword */
pre .lit { color: var(--base0f); } /* literal - darkred */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: var(--base02); } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { background-color: var(--base01); }

@media print {
  pre.prettyprint { background-color: transparent; }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
