<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    {% if page.math %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/css/cmu.css">
    <link rel="stylesheet" type="text/css" href="/css/base16-grey.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify-base16.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <section id="mainnav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    <label class="switch">
      <input type="checkbox" id="nightmodeSwitch" onchange="nightmodeToggle(this)">
      <span class="slider"></span>
    </label>
    </section>

    <section id="content">

      {{ content }}

    </section>
    <footer>
      <ul>
        <li><a href="mailto:morgado.ior@gmail.com">email</a></li>
        <li><a href="https://github.com/igormorgado">github.com/igormorgado</a></li>
      </ul>
    </footer>

    <script>
      function activateNightmode() {
        var link = document.createElement( "link" );
        link.href = "/css/base16-solarizeddark.css"
        link.type = "text/css";
        link.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(link);
      }

      function  replaceLocalHref() {
        var url = new URL(window.location.href);
        var localhost = url.host;

      	aEls = document.body.getElementsByTagName("a");
      	for(var i=0; i< aEls.length; i++) {
      		var turl = new URL(aEls[i].href);
      		var host = turl.host
      		if (host == localhost) {
      			turl.searchParams.set("nightmode","true");
      			aEls[i].href = turl.href;
          }
        }
      }

      function nightmodeToggle(checkboxElem) {
        var status = checkboxElem.checked;

        if (status == false) {
          // whatelse
        } else {
          activateNightmode();
          replaceLocalHref();
        }
      }
    
      var url = new URL(window.location.href);
      var nightmode = url.searchParams.get("nightmode");
      var nightmodeSwitch = document.getElementById("nightmodeSwitch");
      if (nightmode == "true") {
        nightmodeSwitch.checked = true;
        activateNightmode();
        replaceLocalHref();
      } else {
        nightmodeSwitch.checked = false;
      }

    </script>
  </body>

</html>
