<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/cmu_serif.css">
		<link rel="stylesheet" type="text/css" href="/css/base16-grey.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=Desert"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:morgado.igor@gmail.com">email</a></li>
				<li><a href="https://github.com/igormorgado">github.com/igormorgado</a></li>
			</ul>
		</footer>
	</body>
</html>
